@import url('https://fonts.googleapis.com/css?family=Marck+Script');

#ContentPassion {
    .row {
        .col-md-12 {
            h1 {
                margin-top: 50px;
                font-size: 120px;
                font-family: 'Marck Script', cursive;
	            background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	            -webkit-background-clip: text;
	            -webkit-text-fill-color: transparent;
            }
            h4 {
                color: grey;
            }
        }
    }
    .container {
        margin-top: 40px;
        margin-bottom: 100px;
        .row {
                .col-md-3 {
                    .card {
                        border: none;
                        img {
                            border-radius: 20px;
                        }
                    }
                    label {
                        margin-top: 5px;
                        font-size: 30px;
                        color: grey;
                    }
                    p {
                        color: grey;
                        margin-top: -10px;
                    }
                }
            
        }
    }
}